{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
        {{ admin_view.admin.name }}{% endblock title %}</title>

    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta %}

    {% block head_css %}
        {{ webpack['app.css'] }}

        <!-- Flask-admin admin styles -->
        <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">

        {% if admin_view.extra_css %}
            {% for css_url in admin_view.extra_css %}
                <link href="{{ css_url }}" rel="stylesheet">
            {% endfor %}
        {% endif %}

    {% endblock head_css %}

    {% block head %}
    {% endblock head %}

    {% block head_tail %}
    {% endblock head_tail %}

</head>
<body class="hold-transition skin-{{ admin_view.admin.skin }} sidebar-mini">

{% block page_body %}

<div class="wrapper">

    <div class="sidebarh right">

        <h4>Variables locales</h4>

        <div class="box box-widget widget-user-2">
            <div class="box-footer no-padding">
                <ul id="session-variables-locales" class="nav nav-stacked">
                    <li><b>Aucune</b></li>
                </ul>
            </div>
        </div>

        <h4>Variables globales</h4>

        <div class="box box-widget widget-user-2">
            <div class="box-footer no-padding">
                <ul id="session-variables-globales" class="nav nav-stacked">
                    <li><b>Aucune</b></li>
                </ul>
            </div>
        </div>

        <h4>Filtres sur variable</h4>

        <div class="box box-widget widget-user-2">
            <div class="box-footer no-padding">
                <ul id="session-filtre" class="nav nav-stacked">
                    <li><b>Aucune</b></li>
                </ul>
            </div>
        </div>

    </div>

    <a onclick="$('.sidebarh.right').trigger('sidebar:toggle');" class="btn-float">
        <i class="fa fa-external-link-square btn-my-float"></i>
    </a>

    <div data-step="4" data-intro="Cette zone va vous permettre de tester la résolution de vos détecteurs en fonction d'une source brute ou d'un fichier message" class="chatbox chatbox--tray chatbox--empty">
        <div class="chatbox__title">
            <h5>
                <a href="#">Simulation de détecteur</a>
            </h5>
            <button class="chatbox__title__tray">
                <span></span>
            </button>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a style="height: 80px !important;" onclick="AppInterfaceInteroperabilite.assistant_simulation_extraction_interet()" class="btn btn-app">
                    <i class="fa fa-microchip"></i> Analyse Manuelle<br>Brute
                </a>
            </div>
            <div class="col-lg-6">
                <a style="height: 80px !important;" onclick="AppInterfaceInteroperabilite.assistant_simulation_detecteur()" class="btn btn-app">
                    <i class="fa fa-flag"></i> Analyse Manuelle<br>Detecteur
                </a>
            </div>
        </div>

        <form id="detecteur-fichier-dropzone-floatbox" action="/admin/rest/simulation/detecteur/fichier" class="chatbox__credentials dropzone" style="border-style: dashed;">
            <div class="fallback">
                <input name="file" type="file" />
            </div>
        </form>

    </div>

    {% if current_user.is_authenticated %}

    <header class="main-header">
        {% block brand %}
        <a href="{{ admin_view.admin.url }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                            {% autoescape false %}{{ admin_view.admin.short_name }}{% endautoescape %}
                        </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                            {% autoescape false %}{{ admin_view.admin.long_name }}{% endautoescape %}
                        </span>
        </a>
        {% endblock brand %}

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li>
                        {% block access_control %}
                            {% if current_user.is_authenticated %}
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                       style="padding: 10px 15px;">
                                        <img src="{{ admin_view.admin.gravatar_image_url(current_user.email, "http://adminlte.najdaapps.com/static/img/avatar.png", 30) }}"
                                             style="border-radius: 50%; width: 30px; height:30px;"/>
                                        <span class="hidden-xs"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-header">
                                            <img src="{{ admin_view.admin.gravatar_image_url(current_user.email, "http://adminlte.najdaapps.com/static/img/avatar.png", 90) }}"
                                                 style="border-radius: 50%"/>
                                            <p>
                                                {% if current_user.first_name %}
                                                    {{ current_user.first_name }}
                                                    {% if current_user.last_name %}
                                                        {{ current_user.last_name }}
                                                    {% endif %}
                                                    <small>{{ current_user.email }}</small>
                                                {% else %}
                                                    {{ current_user.email }}
                                                {% endif %}
                                            </p>
                                        </li>
                                        <li class="user-footer">
                                            {% if security.changeable %}
                                                <div class="pull-left">
                                                    <a href="{{ url_for('security.change_password') }}"
                                                       class="btn btn-default btn-flat">
                                                        Modifier mot de passe
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="pull-right">
                                                <a href="{{ url_for('security.logout') }}"
                                                   class="btn btn-default btn-flat">Déconnexion</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </li>
                </ul>
                {% block menu_links %}
                    <ul class="nav navbar-nav navbar-right">
                        {{ layout.menu_links() }}
                    </ul>
                {% endblock %}
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul
                    data-step="13"
                    data-intro="
                    Concevoir son <b>Automate</b> c'est d'abord commencer par
                    concevoir un <b>Détecteur</b> !<br><br>
                    <ul>
                    <li>Créez des règles depuis <b>Règles de détection</b></li>
                    <li>Créez un <b>Détecteur</b> et associez y vos règles fraichements éditées</li>
                    <li>Créez une <b>Description d'Automate</b> et associez y votre nouveau détecteur</li>
                    <li>Editez les <b>Actions</b> de votre <b>Automate</b> depuis cette page</li>
                    </ul>"
                    class="sidebar-menu">
                <li class="header">NAVIGATION</li>
                {% block main_menu %}
                    {{ layout.menu() }}
                {% endblock %}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        {% endif %}

        {% block messages %}
            <section style="padding: 1px;">
                {{ layout.messages() }}
            </section>
        {% endblock messages %}

        {# store the jinja2 context for form_rules rendering logic #}
        {% set render_ctx = h.resolve_ctx() %}

        {% block body %}
        {% endblock body %}

        {% if current_user.is_authenticated %}
            </div>
            <footer class="main-footer">
                <strong>Hermes</strong>
                <div class="pull-right hidden-xs"><b>Version</b> 2.0.0</div>
            </footer>
        {% endif %}

</div>

{% endblock page_body %}

{% block tail_js %}

    {{ webpack['app.js'] }}

    {% if admin_view.extra_js %}
        {% for js_url in admin_view.extra_js %}
            <script src="{{ js_url }}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}

    {{ webpack['app_help.js'] }}

{% endblock tail_js %}

{% block tail %}
{% endblock tail %}

</body>
</html>
