{% extends 'admin/master.html' %}
{% block head_meta %}
    {{ super() }}
    {% if not current_user.is_authenticated %}
        <meta http-equiv="refresh" content="0; url={{ url_for('security.login') }}"/>
    {% endif %}
{% endblock %}
{% block body %}
    {{ super() }}

    {% if current_user.is_authenticated %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Interopérabilité
                <small>Manuel utilisateur</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Intéropérabilité</a></li>
                <li class="active">Manuel Utilisateur</li>
            </ol>
        </section>

        <section class="content">
            <!-- Main row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <i class="fa fa-bullhorn"></i>

                            <h3 class="box-title">Principes généraux</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <h2>1 - Introduction</h2>
                            <h3>1.1 - Objectif du projet</h3>
                            <p>
                                Ce programme permet à une personne ou à une organisation d'automatiser le traitement de
                                message electronique ayant une structure normale et répétitive.
                            </p>
                            <p>
                                Créez de la valeur en diminuant drastiquement la contrainte de votre activité. Dans le
                                cadre de la gestion de gros volume de message électronique.
                            </p>
                            <h3>1.2 - Les grands principes</h3>
                            <p>
                                Notre solution s'articule entre ces quatres élements principaux :
                            </p>
                            <ul>
                                <li>Règles de détection</li>
                                <li>Détecteur</li>
                                <li>Automate</li>
                                <li>Action</li>
                            </ul>
                            <h3>1.3 - Définitions</h3>
                            <p>
                                <b>Une règle de détection :</b> Critère à tester dans la source dont la validation est requise ou non.<br>
                                <b>Un Détecteur :</b> Un détecteur rassemble une collection de <i>règles de détection</i> et permet à fortiori de déterminer la nature d'une source.<br>
                            </p>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

        </section>
        <!-- /.content -->
    {% endif %}

{% endblock body %}
